<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".others.MyChat"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyChat"
        tools:targetApi="34">
        <activity
            android:name=".custom.CustomListMembers"
            android:exported="false" />
        <activity
            android:name=".activity.ForwardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MembersGroupActivity"


            android:exported="false" />
        <activity
            android:name=".activity.MediaGridActivity"

            android:exported="false" />
        <activity
            android:name=".activity.ChangeImageGroupActivity"

            android:exported="false" />
        <service
            android:name=".service.MessageNotification"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.ConversationInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AppearanceActivity"
            android:exported="true" />
        <activity
            android:name=".activity.main.ChatSreenActivity"
            android:exported="true" />
        <activity
            android:name=".fragment.MainFragment"
            android:exported="true" />
        <activity
            android:name=".activity.main.SignupActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="mychat-7f8c6.firebaseapp.com/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.GettingStartedActivity"
            android:exported="true" />
        <activity
            android:name=".activity.main.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".fragment.MoreFragment"
            android:exported="true" />
        <activity
            android:name=".activity.AddNewMember"
            android:exported="true" />
        <activity
            android:name=".fragment.ChatFragment"
            android:exported="true" />
        <activity
            android:name=".fragment.ContactFragment"
            android:exported="true" />
        <activity
            android:name=".activity.AddContactActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddGroupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChangeProfileActivity"
            android:exported="true" />

        <activity
            android:name=".activity.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- <activity -->
        <!-- android:name="com.facebook.FacebookActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" -->
        <!-- android:label="@string/app_name" /> -->
        <!-- <activity -->
        <!-- android:name="com.facebook.CustomTabActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:scheme="@string/fb_login_protocol_scheme" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <receiver
            android:name=".activity.main.ChatSreenActivity$NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>